#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

img.pokemonImg {
  height: 100%;
}

.card {
  background-color: grey;
  border-radius: 10px;
  opacity: 0.5;
  transition: transform 0.5s;
}

.card:hover {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 0 0 5px #807b7b;
}

.read-the-docs {
  color: #888;
}

div.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 1rem;
}
